.section-1 {
    background-color: #1F2937;
    padding: 0 100px 50px 100px;
}

#header, #footer {
    height: 72px;
    display: flex;
    align-items: center;
}

#header {
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: #E5E7EB;
    font-size: 15px;
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    gap: 16px;
    /* background-color: aliceblue; */
    
}

.hero .header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
}

.image {
    width: 400px;
    height: 200px;
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .text {
    color: #E5E7EB;
    margin-bottom: 10px;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10%;
    padding: 7px 25px;
}

.section-2 {
    padding: 32px 100px 100px 100px;
}

.section-2 .header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
}

.section-2 .container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.section-2 img {
    width: 130px;
    height: 130px;
    border-radius: 7%;
    border: 4px solid #3882F6;
    margin-bottom: 5px;
}

.section-2 .info {
    max-width: 130px;
}

.section-3 {
    background-color: #E5E7EB;
    padding: 50px 100px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-3 .quote-author {
    font-weight: 800;
    font-size: 28px;
}

.section-4 {
    padding: 70px 100px;
}

.section-4 .container {
    background-color: #3882F6;
    padding: 50px 70px;
    border-radius: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.section-4 .header {
    font-size: 24px;
    color: #F9FAF8;
}

.section-4 .text {
    font-size: 18px;
    color: #E5E7EB
}

.section-4 .sign-up {
    border: 2px solid #F9FAF8;
}

#footer {
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
}
